@model StoreResponse

<div class="row mb-3">
    <div class="col-2 fw-bold">
        @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="col-10">
        @Html.DisplayFor(model => model.Name)
    </div>
</div>
<div class="row mb-3">
    <div class="col-2 fw-bold">
        @Html.DisplayNameFor(model => model.IsVirtualF)
    </div>
    <div class="col-10">
        @Html.DisplayFor(model => model.IsVirtualF)
    </div>
</div>

@* Can be uncommented and used for many to many relationships. "Entity" may be replaced with the related entiy name in the controller and views. *@

<div class="row mb-3">
    <div class="col-2 fw-bold">
        <b>@Html.DisplayNameFor(model => model.Products)</b>
    </div>
    <div class="col-10">
        @Html.Raw(Model.Products)
    </div>
</div>