@model ProductRequest

@* Generated from Custom MVC Template. *@
@* Model namespace using directive should be added to _ViewImports.cshtml. *@

@{
    var containerDivClass = "container";
    var dateTimePickerClass = "datetimepicker";
}
@{
    ViewData["Title"] = "Product Edit";
}

<div class="@containerDivClass">
    <h1>@ViewData["Title"]</h1>
    <hr />
</div>

@if (Model is not null)
{
<div class="@containerDivClass">
    @if (TempData["Message"] is not null)
    {
    <p class="text-danger">
        @TempData["Message"]
    </p>
    }
    <form asp-action="Edit" autocomplete="off">
	    @Html.AntiForgeryToken()
        <div asp-validation-summary="All" class="text-danger"></div> @* Use ModelOnly instead of All to see only service response messages in validation summary *@
        <div class="row mb-3">
            <label asp-for="Name" class="col-2 col-form-label fw-bold"></label>
	        <div class="col-10">
	            <input asp-for="Name" class="form-control" />
		        <span asp-validation-for="Name" class="text-danger"></span>
	        </div>
        </div>
        <div class="row mb-3">
            <label asp-for="Description" class="col-2 col-form-label fw-bold"></label>
	        <div class="col-10">
	            <textarea asp-for="Description" class="form-control"></textarea>
		        <span asp-validation-for="Description" class="text-danger"></span>
	        </div>
        </div>
        <div class="row mb-3">
            <label asp-for="UnitPrice" class="col-2 col-form-label fw-bold"></label>
	        <div class="col-10">
	            <input asp-for="UnitPrice" class="form-control" />
		        <span asp-validation-for="UnitPrice" class="text-danger"></span>
	        </div>
        </div>
        <div class="row mb-3">
            <label asp-for="StockAmount" class="col-2 col-form-label fw-bold"></label>
	        <div class="col-10">
	            <input asp-for="StockAmount" class="form-control" />
		        <span asp-validation-for="StockAmount" class="text-danger"></span>
	        </div>
        </div>
        <div class="row mb-3">
            <label asp-for="ExpirationDate" class="col-2 col-form-label fw-bold"></label>
	        <div class="col-10">
		        <input asp-for="ExpirationDate" class="form-control @dateTimePickerClass" type="text" />
		        <span asp-validation-for="ExpirationDate" class="text-danger"></span>
	        </div>
        </div>
        <div class="row mb-3">
		    <label asp-for="IsContinued" class="col-2 col-form-label fw-bold"></label>
		    <div class="col-10 pt-2">
			    <input class="form-check-input" asp-for="IsContinued" />
            </div>
        </div>
        <div class="row mb-3">
            <label asp-for="CategoryId" class="col-2 col-form-label fw-bold"></label>
            <div class="col-10">
	            <select asp-for="CategoryId" class="form-select" asp-items="ViewBag.CategoryId">
		            <option value="">-- Select --</option>
	            </select>
	            <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
        </div>
        <input type="hidden" asp-for="Id" />

@* Can be uncommented and used for many to many relationships. "Entity" may be replaced with the related entiy name in the controller and views. *@
        @*
        <div class="row mb-3">
            <label asp-for="EntityIds" class="col-2 col-form-label fw-bold"></label>
	        <div class="col-10">
		        <select multiple asp-for="EntityIds" class="form-select" asp-items="ViewBag.EntityIds"></select>
		        <span asp-validation-for="EntityIds" class="text-danger"></span>
	        </div>
        </div>
        *@

        <hr />
        <div class="row mb-3">
	        <div class="offset-2 col-10">
                <button type="submit" class="btn btn-primary">Save</button>
		        &nbsp;&nbsp;
                <button type="reset" class="btn btn-outline-primary">Reset</button>
		        &nbsp;&nbsp;
                <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
                &nbsp;&nbsp;
		        <a asp-action="Index">Back to List</a>
	        </div>
        </div>
    </form>
</div>
}

@section Scripts {
    @* https://xdsoft.net/jqplugins/datetimepicker *@
    <link href="~/lib/jquery-datetimepicker/jquery.datetimepicker.min.css" rel="stylesheet" />
    <script src="~/lib/jquery-datetimepicker/jquery.datetimepicker.full.min.js"></script>
    <script>
        $(function () {
            $(".datetimepicker").datetimepicker({
                // for using only date
                timepicker: false,
                format: 'm/d/Y'
                // for using date with time
                // timepicker: true,
                // format: 'm/d/Y H:i'
            });
        });
    </script>
}
